<template>
  <div>
    <div>
      <Header class="header" />
    </div>
    <div class="container">
      <Nav />
      <Category />
      <div class="listProd">
        
          <b-row>
            <b-col md="3">
              <li>
                <b-card
                  img-src="https://picsum.photos/600/300/?image=25"
                  img-alt="Image"
                  img-top
                  tag="article"
                  style="max-width: 19rem;"
                  class="mb-3"
                >
                  <b-card-text>
                    Banh ngai Lang Son
                  </b-card-text>
                 <b-button variant="primary">Add Cart</b-button>
                   <div class="price-div"> <b-text class="price">250.000đ</b-text></div>
                </b-card>
              </li>
            </b-col>
            <b-col md="3">
              <li>
                <b-card
                  img-src="https://picsum.photos/600/300/?image=25"
                  img-alt="Image"
                  img-top
                  tag="article"
                  style="max-width: 19rem;"
                  class="mb-3"
                >
                  <b-card-text>
                    Banh dau xanh Hai Duong
                  </b-card-text>
                  <b-button  variant="primary">Add Cart</b-button>
                   <div class="price-div"> <b-text class="price">250.000đ</b-text></div>
                </b-card>
              </li>
            </b-col>
            <b-col md="3">
              <li>
                <b-card
                  img-src="https://picsum.photos/600/300/?image=25"
                  img-alt="Image"
                  img-top
                  tag="article"
                  style="max-width: 19rem;"
                  class="mb-3"
                >
                  <b-card-text>
                    Banh dau xanh Hai Duong
                  </b-card-text>
                  <b-button  variant="primary">Add Cart</b-button>
                   <div class="price-div"> <b-text class="price">250.000đ</b-text></div>
                </b-card>
              </li>
            </b-col>
            <b-col md="3">
              <li>
                <b-card
                  img-src="https://picsum.photos/600/300/?image=25"
                  img-alt="Image"
                  img-top
                  tag="article"
                  style="max-width: 19rem;"
                >
                  <b-card-text>
                    Banh dau xanh Hai Duong
                  </b-card-text>
                  <b-button  variant="primary">Add Cart</b-button>
                  <div class="price-div"> <b-text class="price">250.000đ</b-text></div>
                </b-card>
              </li>
            </b-col>
          </b-row>
          <b-row >
            <b-col md="3">
              <li>
                <b-card
                  img-src="https://picsum.photos/600/300/?image=25"
                  img-alt="Image"
                  img-top
                  tag="article"
                  style="max-width: 19rem;"
                  class="mb-3"
                >
                  <b-card-text>
                    Banh dau xanh Hai Duong
                  </b-card-text>
                  <b-button  variant="primary">Add Cart</b-button>
                    <div class="price-div"> <b-text class="price">250.000đ</b-text></div>
                </b-card>
              </li>
            </b-col>
            <b-col md="3">
              <li>
                <b-card
                  img-src="https://picsum.photos/600/300/?image=25"
                  img-alt="Image"
                  img-top
                  tag="article"
                  style="max-width: 19rem;"
                  class="mb-3"
                >
                  <b-card-text>
                    Banh dau xanh Hai Duong
                  </b-card-text>
                  <b-button variant="primary">Add Cart</b-button>
                  <div class="price-div"> <b-text class="price">250.000đ</b-text></div>
                </b-card>
              </li>
            </b-col>
            <b-col md="3">
              <li>
                <b-card
                  img-src="https://picsum.photos/600/300/?image=25"
                  img-alt="Image"
                  img-top
                  tag="article"
                  style="max-width: 19rem;"
                  class="mb-3"
                >
                  <b-card-text class="text">
                    Banh dau xanh Hai Duong
                  </b-card-text> 
                  <b-button variant="primary">Add Cart</b-button>
                 <div class="price-div"> <b-text class="price">250.000đ</b-text></div>
                </b-card>
              </li>
            </b-col>
            <b-col md="3">
              <li>
                <b-card
                  img-src="https://picsum.photos/600/300/?image=25"
                  img-alt="Image"
                  img-top
                  tag="article"
                  style="max-width: 19rem;"
                  class="mb-3"
                >
                  <b-card-text>
                    Banh dau xanh Hai Duong
                  </b-card-text>
                  <b-button  variant="primary">Add Cart</b-button>
                   <div class="price-div"> <b-text class="price">250.000đ</b-text></div>
                </b-card>
              </li>
            </b-col>
          </b-row>
       
      </div>
      <div>
    </div>
    <Footer class="footer" />
    </div>
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
import Nav from "@/components/Nav.vue";
import Category from "@/components/Category.vue";
import Footer from '@/components/Footer.vue'
export default {
  components: {
    Header,
    Nav,
    Category,
    Footer
  },
};
</script>
<style>
body {
  background-color: #f1f1f1;
}
.listProd {
  margin-top: 30px;
}
.listProd .title {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}
.listProd li {
  color: #000000;
  list-style-type: none;
  margin-top: 10px;
}

.listProd li .card {
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.listProd li .card .card-text{
  font-size: 18px;
  margin-bottom: -5px;
  margin-bottom: 5px;
}
.listProd li .card .btn {
    background-color: #397e40;
    margin-right: 40px;
    color: #fff;
    height: 37px;
    width: 90px;
    border-radius: 20px;
    font-size: 14px;
    font-family: Roboto;
    float: left;
}

.listProd li .card button:hover {
  background-color: orange;
  font-family: 300;
}
.listProd li .card .price-div{
  margin-top: 30px;
}
.listProd .price {
padding-top: 40px;
margin-left: -40px;
  color: #ee9751;
  font-size: 16px;
}
.footer{
  background-color: #fff;
}
</style>
