<template>
  <div>
    <div>
      <Header class="header"></Header>
    </div>
    <div class="user-page">
      <div class="container">
        <div class="navbar">
          <div class="u-info">
            <div class="u-info-img">
              <img
                src="../../assets/avatar.jpg"
                alt="Image"
                style="width: 45px; height: 45px"
              />
            </div>
            <div class="u-info-text">
              <p>{{ userDetails.name }}</p>
              <a href="#">Chỉnh sửa sau</a>
            </div>
          </div>
        </div>

        <!-- Thong tin ca nhannnn -->
        <b-card no-body>
          <b-tabs pills card vertical nav-wrapper-class="w-30">
            <b-tab active>
              <template #title>
                <b-icon icon="person-fill"></b-icon>
                Thông tin cá nhân
              </template>
              <b-card-text>
                <!-- card text  -->
                <div class="profileInfo"><h2>Tài khoản của tôi</h2></div>
                <div>Quản lí thông tin tài khoản cá nhân</div>
                <hr />
                <div class="content-body">
                  <div>
                    <b-form
                      @submit.prevent="changeDetails"
                      ref="changeDetailsForm"
                      class="form-horizontal"
                      id="contact_form"
                    >
                      <div class="content-body-left">
                        <div class="new-ava">
                          <img
                            :src="
                              'http://127.0.0.1:8887/images/' + this.userDetails.avatar
                            "
                            id="output"
                            alt=""
                            style="width: 100px; height: 100px"
                          />
                        </div>

                        <input
                          style="margin-left:150px"
                          class="file"
                          type="file"
                          @change="handleOnChange"
                        />

                        <div class="new-desc">
                          Dung lượng tối đa 1MB định dạng png, jpeg
                        </div>
                      </div>

                      <fieldset class="content-body-right">
                        <div class="form-group">
                          <b-row>
                            <label class="col-md-3 control-label"
                              >Tên hiển thị:</label
                            >
                            <div class="col-md-7 inputGroupContainer">
                              <div class="input-group">
                                <input
                                  v-model="userDetails.name"
                                  name="username"
                                  class="form-control"
                                  type="text"
                                />
                              </div>
                            </div>
                          </b-row>
                        </div>
                        <div class="form-group">
                          <b-row>
                            <label class="col-md-3 control-label">Email:</label>
                            <div class="col-md-7 inputGroupContainer">
                              <div class="input-group">
                                <input
                                  v-model="userDetails.email"
                                  name="email"
                                  class="form-control"
                                  type="text"
                                />
                              </div>
                            </div>
                          </b-row>
                        </div>

                        <div class="form-group">
                          <b-row>
                            <label class="col-md-3 control-label"
                              >Tuổi:</label
                            >
                            <div class="col-md-7">
                              <div class="input-group">
                                <input
                                  name="age"
                                  v-model="userDetails.age"
                                  class="form-control"
                                />
                              </div>
                            </div>
                          </b-row>
                        </div>

                        <div class="form-group">
                          <b-row>
                            <label class="col-md-3 control-label"
                              >Số điện thoại:</label
                            >
                            <div class="col-md-7 inputGroupContainer">
                              <div class="input-group">
                                <input
                                  name="phone"
                                  v-model="userDetails.phone_number"
                                  class="form-control"
                                  type="text"
                                />
                              </div>
                            </div>
                          </b-row>
                        </div>

                        <div class="form-group">
                          <b-row>
                            <label class="col-md-3 control-label"
                              >Địa chỉ:</label
                            >
                            <div class="col-md-7 inputGroupContainer">
                              <div class="input-group">
                                <input
                                  name="address"
                                  v-model="userDetails.address"
                                  class="form-control"
                                  type="text"
                                />
                              </div>
                            </div>
                          </b-row>
                        </div>

                        <div class="form-group">
                          <div class="col-md-4">
                            <button type="submit" class="btn btn-success">
                              Update
                            </button>
                          </div>
                        </div>
                      </fieldset>
                    </b-form>
                  </div>
                </div>
              </b-card-text>
            </b-tab>
            <!-- lich su mua hang -->
            <b-tab>
              <template #title>
                <b-icon icon="cart4"></b-icon>
                Lịch sử mua hàng
              </template>
              <b-card-text>
                <div><h2>Lịch sử mua hàng</h2></div>
                <div>Liệt kê những đơn hàng đã mua trong 1 tháng</div>
                <hr />
                <div class="content">
                  <div class="search-box">
                    <form class="search-form">
                      <input
                        class="form-control"
                        placeholder="Tìm kiếm shop, sản phẩm,..."
                        type="text"
                      />
                      <button class="btn btn-link search-btn">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </form>
                  </div>

                  <!-- ------------ -->
                  <div class="list-cart">
                    <div class="cart-item">
                      <b-row style="margin-bottom:20px">
                        <b-col cols="2"
                          ><div class="shop-name">Tên shop</div></b-col
                        >
                        <b-col cols="8">
                          <b-button class="shop-btn">Xem shop</b-button></b-col
                        >
                        <b-col
                          ><div class="item-header-right">
                            Đã giao: <span class="ship-date">01/02/2021</span>
                          </div>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col cols="2">
                          <div class="product-ava">
                            <img
                              src="../../assets/avatar.jpg"
                              alt=""
                              width="100px"
                              height="100px"
                            /></div
                        ></b-col>
                        <b-col cols="7">
                          <div class="cart-detail">
                            <div class="p-name">Tên sản phẩm</div>
                            <div class="p-quantity">x<span>3</span></div>
                            <div class="p-price"><span>50.000</span> đ/sp</div>
                          </div></b-col
                        >
                        <b-col cols="3">
                          <div class="total">
                            Tổng số tiền:
                            <span class="total-num">150.000</span>
                          </div>
                        </b-col>
                      </b-row>
                      <hr />
                    </div>
                  </div>
                </div>
              </b-card-text>
            </b-tab>
            <!-- thong bao -->
            <b-tab>
              <template #title>
                <b-icon icon="bell-fill"></b-icon> Thông báo
              </template>
              <b-card-text>
                <div class="notication"><h2>Thông báo</h2></div>
                <div class="notication">Thông báo tình trạng đơn hàng</div>
                <hr />
                <div class="list-noti">
                  <hr />
                  <b-row>
                    <b-col cols="2">
                      <div class="noti-img">
                        <img
                          src="../../assets/avatar.jpg"
                          alt=""
                          width="90px"
                          height="90px"
                        />
                      </div>
                    </b-col>
                    <b-col cols="8">
                      <div class="noti-info">
                        <div class="noti-title">Tiêu đề của thông báo</div>
                        <div class="noti-detail">
                          Nếu bạn chưa nhận được hàng hoặc gặp trục trặc với đơn
                          hàng. <b>210701PD8VNEYK</b>, hãy nhấn Trả hàng / Hoàn
                          tiền trước ngày <b>05-07-2021.</b>
                        </div>
                        <div class="noti-date">09:59 05-07-2021</div>
                      </div></b-col
                    >
                    <b-col>
                      <div class="noti-btn">
                        <b-button class="view-detail">Xem chi tiết</b-button>
                      </div></b-col
                    >

                    <hr />
                  </b-row>
                  <b-row>
                    <b-col cols="2">
                      <div class="noti-img">
                        <img
                          src="../../assets/avatar.jpg"
                          alt=""
                          width="90px"
                          height="90px"
                        />
                      </div>
                    </b-col>
                    <b-col cols="8">
                      <div class="noti-info">
                        <div class="noti-title">Tiêu đề của thông báo</div>
                        <div class="noti-detail">
                          Nếu bạn chưa nhận được hàng hoặc gặp trục trặc với đơn
                          hàng. <b>210701PD8VNEYK</b>, hãy nhấn Trả hàng / Hoàn
                          tiền trước ngày <b>05-07-2021.</b>
                        </div>
                        <div class="noti-date">09:59 05-07-2021</div>
                      </div></b-col
                    >
                    <b-col>
                      <div class="noti-btn">
                        <b-button class="view-detail">Xem chi tiết</b-button>
                      </div></b-col
                    >

                    <hr />
                  </b-row>
                </div>
              </b-card-text>
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { mapActions, mapGetters } from "vuex";
import Header from "@/components/Header.vue";
export default {
  components: {
    Header,
  },

  computed: {
    ...mapGetters({
      userDetails: "user/userDetails",
    }),
  },
  data() {
    return {
      avatar: '',
    };
  },

  methods: {
    ...mapActions({
      updateDetails: "user/updateDetails",
      updateUpload: "user/updateUpload",
    }),

    changeDetails() {
      this.updateDetails(this.userDetails)
        .then((response) => {
          this.avatar = response.data.avatar_url;
          console.log("oke");
        })
        .catch(() => {
          console.log("loi");
        });

      const data = new FormData();
      data.append("file", this.userDetails.avatar);
      this.updateUpload(data)
        .then((response) => {
          this.avatar = response.data.avatar_url;
          console.log(response.data.success);
        })
        .catch((e) => {
          console.log(e);
        });
      // location.reload();
    },
    handleOnChange(event) {
      this.userDetails.avatar = event.target.files[0];
      console.log(this.avatar);
    },
  },
};
</script>
<style scoped>
.user-page {
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: roboto;
}

.navbar {
  width: 24%;
  margin-right: 1%;
  padding-top: 1%;
}

.u-info {
  display: inline-flex;
  height: 50px;
  padding-bottom: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
}
.u-info-img {
  margin-right: 5%;
  width: 50px;
  height: 50px;
}
.u-info-img > img {
  border-radius: 50%;
}
.u-info-text {
  align-content: center;
}
.u-info-text > p {
  line-height: 0;
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  color: #222;
}
.u-info-text > a {
  font-size: 15px;
  text-decoration: none;
  color: #222;
}
.u-info-text > a:hover {
  font-style: italic;
}

/* Thong tin ca nhan  */

.content-body {
  display: flex;
  margin-top: 30px;
}
.content-body-right input {
  width: 30rem;
}
.content-body-left {
  margin-left: -100px;
  float: left;
  margin-right: 10px;
}
.content-body-left > * {
  margin: 0 auto;
  margin-bottom: 5%;
}

.new-ava {
  width: 100px;
}

.new-ava > img {
  border-radius: 50%;
}

.new-button {
  width: 100px;
}

.new-button > * {
  width: 100px;
}

.new-desc {
  width: 250px;
  text-align: center;
  color: #666666;
  font-size: 12px;
}

.control-label {
  padding-top: 10px !important;
}

.content-body-right input[type="text"],
.content-body-right input[type="date"] {
  width: 350px;
}
.form-group {
  margin-bottom: -10px;
}

/* ---- */

/* lich su mua hang */
.row .col-2 .shop-name {
  font-size: 18px;
  font-weight: bold;
}
.row .col-8 button {
  background-color: #fff;
  color: #397e40;
  border-color: #397e40;
}

.row .col-3 .total-num {
  color: orange;
}
.row .noti-btn button {
  background-color: #fff;
  color: #397e40;
  border-color: #397e40;
}
/*  */
</style>
