<template>
  <div class="orderManagement">
    <HeaderSale class="headerSale" />
    <Nav />
    <div class="content-seller" id="quanlydonhang">
      <b-tabs content-class="mt-3" justified>
        <b-tab class="tab-panel" title="Tất cả" active>
          <div class="gray"></div>
          <div class="action-seller">
            <div class="box">
              <form class="sbox" action="/search" method="get">
                <input
                  class="stext"
                  type="text"
                  name="q"
                  placeholder="Tìm kiếm bài viết..."
                />
                <button
                  class="sbutton"
                  type="submit"
                  href="javascript:void(0);"
                >
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>

            <form action="">
              <span class="search-date green">
                <span style="padding-right: 10px; color: #333;"
                  >Ngày đặt hàng:
                </span>
                <input type="date" name="" id="" />
                <button style="margin-left: 10px;">Lọc</button>
              </span>
            </form>
          </div>
          <div
            style="height: 50px; font-size: 20px; font-weight: bold; line-height: 50px; padding-top: 10px; box-sizing: border-box;"
          >
            Đơn hàng
          </div>

          <div class="table-detail" id="table-all">
            <div class="thongke">
              <table>
                <tr>
                  <td>Số đơn chờ xác nhận</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Số đơn chờ giao</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td>Số đơn đã giao</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Số đơn đã hủy</td>
                  <td>13</td>
                </tr>
              </table>

              <div class="tong">Tổng số đơn hàng: <strong>59</strong> đơn</div>
            </div>

            <table class="table-order">
              <thead>
                <tr class="titleTable">
                  <td style="width: 40%;">Sản phẩm</td>
                  <td style="width: 20%;">Tổng đơn</td>
                  <td style="width: 25%;">Thời gian đặt</td>
                  <td>Trạng thái</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="status waiting">
                    <span>Chờ xác nhận</span>
                  </td>
                </tr>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="status waiting">
                    <span>Chờ xác nhận</span>
                  </td>
                </tr>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="status chogiao">
                    <span>Chờ giao</span>
                  </td>
                </tr>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="status complete">
                    <span style="padding-left: 5px;">Hoàn thành</span>
                  </td>
                </tr>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="status delete">
                    <span>Đã hủy</span>
                  </td>
                </tr>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="status delete">
                    <span>Đã hủy</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="mt-2" style="margin-left:420px">
              <b-pagination-nav
                pills
                number-of-pages="10"
                base-url="#"
              ></b-pagination-nav>
            </div>
          </div>
        </b-tab>
        <b-tab title="Chờ xác nhận">
          <div class="action-seller">
            <div class="box1">
              <form class="sbox" method="get">
                <input
                  class="stext"
                  type="text"
                  name="q"
                  placeholder="Tìm kiếm bài viết..."
                />
                <button
                  class="sbutton"
                  type="submit"
                  href="javascript:void(0);"
                >
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="table-detail" id="table-wait-confirm">
            <table class="table-confirm">
              <thead>
                <tr class="titleTable">
                  <td style="width: 35%;">Sản phẩm</td>
                  <td style="width: 15%;">Tổng đơn</td>
                  <td style="width: 20%;">Thời gian đặt</td>
                  <td style="width: 15%;">Liên hệ</td>
                  <td>Thao tác</td>
                </tr>
              </thead>
              <tbody class="choxacnhan">
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="contact">
                    <strong>username</strong> <br />
                    Phòng: <strong>2102</strong> <br />
                    SĐT: <strong>0123456789</strong>
                  </td>
                  <td class="action">
                    <span class="green" style="margin-right: 10px;"
                      ><button>Xác nhận</button></span
                    >
                    <span class="red"><button>Hủy</button></span>
                  </td>
                </tr>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="contact">
                    <strong>username</strong> <br />
                    Phòng: <strong>2102</strong> <br />
                    SĐT: <strong>0123456789</strong>
                  </td>
                  <td class="action">
                    <span class="green" style="margin-right: 10px;"
                      ><button>Xác nhận</button></span
                    >
                    <span class="red"><button>Hủy</button></span>
                  </td>
                </tr>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="contact">
                    <strong>username</strong> <br />
                    Phòng: <strong>2102</strong> <br />
                    SĐT: <strong>0123456789</strong>
                  </td>
                  <td class="action">
                    <span class="green" style="margin-right: 10px;"
                      ><button>Xác nhận</button></span
                    >
                    <span class="red"><button>Hủy</button></span>
                  </td>
                </tr>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="contact">
                    <strong>username</strong> <br />
                    Phòng: <strong>2102</strong> <br />
                    SĐT: <strong>0123456789</strong>
                  </td>
                  <td class="action">
                    <span class="green" style="margin-right: 10px;"
                      ><button>Xác nhận</button></span
                    >
                    <span class="red"><button>Hủy</button></span>
                  </td>
                </tr>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="contact">
                    <strong>username</strong> <br />
                    Phòng: <strong>2102</strong> <br />
                    SĐT: <strong>0123456789</strong>
                  </td>
                  <td class="action">
                    <span class="green" style="margin-right: 10px;"
                      ><button>Xác nhận</button></span
                    >
                    <span class="red"><button>Hủy</button></span>
                  </td>
                </tr>
                <tr>
                  <td class="product">
                    <span><img src="@/assets/avatar.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="contact">
                    <strong>username</strong> <br />
                    Phòng: <strong>2102</strong> <br />
                    SĐT: <strong>0123456789</strong>
                  </td>
                  <td class="action">
                    <span class="green" style="margin-right: 10px;"
                      ><button>Xác nhận</button></span
                    >
                    <span class="red"><button>Hủy</button></span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="mt-2" style="margin-left:420px">
              <b-pagination-nav
                pills
                number-of-pages="10"
                base-url="#"
              ></b-pagination-nav>
            </div>
          </div>
        </b-tab>
        <b-tab title="Chờ giao">
          <div class="table-detail" id="table-order-done">
            <table class="table-order">
              <thead>
                <tr class="titleTable">
                  <td style="width: 40%;">Sản phẩm</td>
                  <td style="width: 15%;">Tổng đơn</td>
                  <td style="width: 25%;">Thời gian đặt</td>
                  <td>Liên hệ</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="product">
                    <span><img src="/img/khanlen.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="contact">
                    <strong>username</strong> <br />
                    Phòng: <strong>2102</strong> <br />
                    SĐT: <strong>0123456789</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="mt-2" style="margin-left:420px">
              <b-pagination-nav
                pills
                number-of-pages="10"
                base-url="#"
              ></b-pagination-nav>
            </div>
          </div>
        </b-tab>
        <b-tab title="Đã hoàn thành">
          <div class="table-detail" id="table-dele-order">
            <table class="table-order">
              <thead>
                <tr class="titleTable">
                  <td style="width: 35%;">Sản phẩm</td>
                  <td style="width: 15%;">Tổng đơn</td>
                  <td style="width: 20%;">Thời gian đặt</td>
                  <td style="width: 15%;">Liên hệ</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="product">
                    <span><img src="/img/khanlen.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="contact">
                    Phòng: <strong>2102</strong> <br />
                    SĐT: <strong>0123456789</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="mt-2" style="margin-left:420px">
              <b-pagination-nav
                pills
                number-of-pages="10"
                base-url="#"
              ></b-pagination-nav>
            </div>
          </div>
        </b-tab>
        <b-tab title="Đã hủy">
          <div class="table-detail" id="table-dele-order">
            <table class="table-order">
              <thead>
                <tr class="titleTable">
                  <td style="width: 35%;">Sản phẩm</td>
                  <td style="width: 15%;">Tổng đơn</td>
                  <td style="width: 20%;">Thời gian đặt</td>
                  <td style="width: 15%;">Liên hệ</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="product">
                    <span><img src="/img/khanlen.jpg" alt=""/></span>
                    <span class="info-product">
                      <strong>Tên sản phẩm</strong>
                      <div style="font-size: 12px;">50.000 đ/sp</div>
                    </span>
                  </td>
                  <td class="total-detail">
                    SL: <strong>3</strong> <br />
                    <strong style="color: #EA7F29;">150.000</strong> đ
                  </td>
                  <td class="order-date">
                    <strong>19:32</strong> <br />
                    21/12/2021
                  </td>
                  <td class="contact">
                    Phòng: <strong>2102</strong> <br />
                    SĐT: <strong>0123456789</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="mt-2" style="margin-left:420px">
              <b-pagination-nav
                pills
                number-of-pages="10"
                base-url="#"
              ></b-pagination-nav>
            </div>
          </div>
        </b-tab>
      </b-tabs>
    </div>
  </div>
</template>
<script>
import HeaderSale from "@/components/sale/HeaderSale.vue";
import Nav from "@/components/sale/Nav.vue";
export default {
  components: {
    HeaderSale,
    Nav,
  },
};
</script>
<style>
.headerSale {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.box1 {
  height: 40px;
  background: #1fb6db;
  border-radius: 50px;
}

.table-detail {
  margin-top: 20px;
}

/* ------------ */
.box {
  height: 40px;
  background: #1fb6db;
  border-radius: 50px;
}
.sbutton {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1fb6db;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.4s;
}

.stext {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #feffff;
  font-size: 15px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.sbox:hover > .stext {
  width: 200px;
  padding: 0 5px;
  border-radius: 50px;
}
.sbox:hover > .sbutton {
  background: #fff;
}

.fa-search {
  color: #157d3f;
}

.search-page-user {
  display: inline-flex;
}

.search-page-user input {
  height: 35px;
  width: 100%;
  background-color: #ddd;
  border: 0;
  padding-left: 10px;
  outline: none;
}

.icon-search-in {
  height: 35px;
  padding-left: 10px;
}
.icon-search-in svg {
  width: 20px;
  height: 35px;
  /* background-color: #ddd; */
  color: rgb(0, 0, 0);
}
.content-seller .tab-panel {
  height: 700px;
}

.content-seller .tabs {
  margin-left: 50px;
}
.content-seller ul li a {
  color: rgb(0, 0, 0);
}
.content-seller ul li a:hover {
  color: #01904a;
}
.content-seller .action-seller form input {
  margin-left: 10px;
}

.content-seller {
  top: 90px;
  left: 300px;
  width: calc(100% - 350px);
  min-height: calc(100% - 90px);
  height: auto;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  color: #333;
  margin-left: 260px;
}
.content-title {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: inline-flex;
  justify-content: space-between;
}
.add-product {
  margin-top: 15px;
  font-size: 16px;
}
ul {
  padding-left: 20px;
}
ul li {
  list-style: none;
  display: inline-block;

  padding-top: 20px;
}
ul li a {
  padding-left: 40px;
  padding-right: 40px;
}
li .choose a {
  color: #157d3f;
  border-bottom: 3px solid #157d3f;
  padding-bottom: 6px;
  font-weight: bold;
}
.action-seller {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
.quantity {
  display: flex;
  justify-content: space-between;
}

/* table thống kê */
.thongke {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: inline-flex;
}
.thongke .tong {
  font-size: 16px;
  width: 100%;
  padding-left: 30px;
}
.thongke tr {
  height: 30px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.thongke tr td {
  padding-left: 20px;
}
.thongke tr td:last-child {
  font-weight: bold;
}
.thongke tr:first-child {
  border-top: 1px solid #ddd;
}
/* table detail all */
.table-detail .titleTable {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.table-detail .table-confirm .titleTable {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(245, 244, 244);
}
.table-detail .table-confirm .choxacnhan {
  height: 500px;
}
.table-detail {
  position: static;
  box-sizing: border-box;
  width: 100%;
  height: 630px;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: scroll;
  font-size: 14px;
}
.table-product {
  position: absolute;
  box-sizing: border-box;
  top: 150px;
  left: 0;
  width: 100%;
  height: calc(100% - 150px);
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}
.table-detail table,
.table-product table {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

table thead {
  height: 50px;
  border-bottom: 1px solid #ddd;
}
thead td {
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
}

tbody tr {
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
.table-product tbody td:first-child {
  text-align: center;
}
table img {
  width: 90px;
  height: 60px;
}
tbody .product {
  display: inline-flex;
  padding: 20px 20px;
}

tbody .info-product {
  padding-left: 20px;
}
tbody .total-detail,
tbody .order-date,
tbody .status {
  text-align: center;
}
tbody .action {
  text-align: right;
}
.status {
  font-weight: bold;
}
.complete {
  color: #01904a;
}
.waiting {
  color: #f29c08;
}
.chogiao {
  color: #2165a4;
}
.delete {
  color: #f4474b;
}

.content-seller .table-detail .table-order .titleTable {
  background-color: rgb(245, 244, 244);
}
</style>
