<template>
  <div id="header">
    <div class="container">
      <div class="header-left">
        <span class="menu-hidden"><img src="../assets/menu.png" alt=""/></span>
        <span class="logo"
          ><router-link to="/abc"
            ><img src="../assets/localmarket.png" alt=""/></router-link
        ></span>
        <span class="btn-banhang">
          <router-link :to="{name:'Nguoiban', params:{id:userDetails.id}}">Kênh bán hàng</router-link>
          </span>
      </div>
      <div class="header-center">
        <div class="search-bar">
          <input
            type="text"
            name=""
            id=""
            placeholder="Tìm kiếm sản phẩm, gian hàng..."
          />
          <button><img src="../assets/search.png" alt="" /></button>
        </div>
      </div>
      <div class="header-right">
        <div class="icon-cart">
          <router-link to="#"
            ><img src="../assets/cart.png" alt=""
          /></router-link>
        </div>
        <div class="icon-notification">
          <router-link to="#"
            ><img src="../assets/bell.png" alt=""
          /></router-link>
        </div>

        <div class="header-user" v-if="logginedIn">
          <b-dropdown id="dropdown-1" variant="success" text="success" >
            <template #button-content>
              <span class="username">{{ userDetails.name }}</span>
            </template>
            <b-dropdown-item href="/profile">Trang cá nhân</b-dropdown-item>
            <b-dropdown-item>Lịch sử  mua háng</b-dropdown-item>
            <b-dropdown-item @click="logout">
              <b-icon icon="power" aria-hidden="true"></b-icon>
              Đăng xuất
            </b-dropdown-item>
          </b-dropdown>
        </div>
        <div class="dangnhap" v-else="logginedIn">
          <router-link to="/login">
            Đăng nhập
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      logginedIn: "user/loggedIn",
      userDetails: "user/userDetails",
    }),
  },
  methods: {
    ...mapActions({
      logoutUser: "user/logoutUser",
    }),
    logout() {
      this.logoutUser().then(() => {
        this.$router.push({ name: "Home" });
      });
    },
  },
};
</script>
<style>
#header .container{
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #157d3f;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.header-left {
  display: flex;
  flex: 1;
}
.logo {
  display: flex;
}
.logo img {
  width: 150px;
  height: auto;
}
.menu-hidden {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.menu-hidden img {
  width: 30px;
  height: 30px;
}
.btn-banhang {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.header-left .btn-banhang a{
  text-decoration: none;
}
.btn-banhang a {
  text-decoration:none ;
  /* background-color: #fffefd; */
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
}
.btn-banhang a:hover {
  box-shadow: 2px 2px 2px #999;
  color: #fff;
}
.header-center {
  display: flex;
  flex: 1;
  width: 100%;
}
.search-bar {
  display: inline-flex;
  justify-content: center;

}
.search-bar input {
  margin-left: 22px;
  width: 360px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
  border: 0;
  padding-left: 20px;
  font-size: 16px;
  box-shadow: 1px 1px 1px #aaa inset;
}
.search-bar::placeholder {
  color: #bbb;
}
.search-bar button {
  width: 60px;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-sizing: border-box;
  background-color: #157d3f;
  border: 2px solid #fff;
}
.search-bar button img {
  width: 25px;
  height: auto;
}

div .header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
}
.header-user{
  margin-left: 45px;
}
.header-user button{
  background-color: #157d3f;
  border-color: #157d3f;
}
.icon-cart{
  margin-right: -20px;
}
.header-user ul{
  background-color: #157d3f;
}
.header-user ul li a {
  color: #fff;
  /* text-align: center; */
}

.header-user .username {
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}

.icon-cart img {
  width: 30px;
  height: auto;
}
.icon-notification img {
  margin-left: 70px;
  width: 30px;
  height: auto;
}
.dangnhap a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 5px;
}
.dangnhap a:hover{
  color: #fff;
}

@media (min-width: 768px) {
  .menu-hidden {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .icon-notification {
    display: none;
  }
  .search-bar input {
    width: 350px;
  }
  .btn-banhang {
    padding-left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .icon-notification {
    display: none;
  }
  .icon-cart {
    display: none;
  }
  .btn-banhang {
    display: none;
  }
  .search-bar input {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  .icon-notification {
    display: none;
  }
  .icon-cart {
    display: none;
  }
  .btn-banhang {
    display: none;
  }
  .header-user {
    display: none;
  }
  .search-bar input {
    width: 250px;
  }
  .menu-hidden {
    display: inline-flex;
  }
}

</style>
