<template>
<div class="container" id="list-store">
    <div class="title">	&laquo; Gian hàng hôm nay &raquo;</div>
    <div class="line-green"></div>
    <div class="list-item-store">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <a href="#">
                    <div class="item-store">
                        <div class="image-store" style="background-image: url('https://www.vmcdn.ca/f/files/airdrietoday/ln-followtherainbow_web.jpg;w=960;h=640;bgcolor=000000');">
                            
                        </div>
                        <div class="info-store">
                            <div class="title-store">Tên gian hàng
                                <span class="category-store">(Rau củ)</span>
                            </div>
                            <p class="description-store">Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây</p>
                            <div class="time-active">
                                <strong style="color: #EA7F29;"><span  class="active">active</span>&ensp;8h 20 - 19h 20</strong>
                                <span class="see-more"><a href="">Ghé shop<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6">
                <a href="#">
                    <div class="item-store">
                        <div class="image-store" style="background-image: url('https://www.vmcdn.ca/f/files/airdrietoday/ln-followtherainbow_web.jpg;w=960;h=640;bgcolor=000000');">
                            
                        </div>
                        <div class="info-store">
                            <div class="title-store">Tên gian hàng
                                <span class="category-store">(Rau củ)</span>
                            </div>
                            <p class="description-store">Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây</p>
                            <div class="time-active">
                                <strong style="color: #EA7F29;"><span class="active">active</span>&ensp;8h 20 - 19h 20</strong>
                                <span class="see-more"><a href="">Ghé shop<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6">
                <a href="#">
                    <div class="item-store">
                        <div class="image-store" style="background-image: url('https://www.vmcdn.ca/f/files/airdrietoday/ln-followtherainbow_web.jpg;w=960;h=640;bgcolor=000000');">
                            
                        </div>
                        <div class="info-store">
                            <div class="title-store">Tên gian hàng
                                <span class="category-store">(Rau củ)</span>
                            </div>
                            <p class="description-store">Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây</p>
                            <div class="time-active">
                                <strong style="color: #EA7F29;"><span class="active">active</span>&ensp;8h 20 - 19h 20</strong>
                                <span class="see-more"><a href="">Ghé shop<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6">
                <a href="#">
                    <div class="item-store">
                        <div class="image-store" style="background-image: url('https://www.vmcdn.ca/f/files/airdrietoday/ln-followtherainbow_web.jpg;w=960;h=640;bgcolor=000000');">
                            
                        </div>
                        <div class="info-store">
                            <div class="title-store">Tên gian hàng
                                <span class="category-store">(Rau củ)</span>
                            </div>
                            <p class="description-store">Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây</p>
                            <div class="time-active">
                                <strong style="color: #EA7F29;"><span class="active">active</span>&ensp;8h 20 - 19h 20</strong>
                                <span class="see-more"><a href="">Ghé shop<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6">
                <a href="#">
                    <div class="item-store">
                        <div class="image-store" style="background-image: url('https://www.vmcdn.ca/f/files/airdrietoday/ln-followtherainbow_web.jpg;w=960;h=640;bgcolor=000000');">
                            
                        </div>
                        <div class="info-store">
                            <div class="title-store">Tên gian hàng
                                <span class="category-store">(Rau củ)</span>
                            </div>
                            <p class="description-store">Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây</p>
                            <div class="time-active">
                                <strong style="color: #EA7F29;"><span class="active">active</span>&ensp;8h 20 - 19h 20</strong>
                                <span class="see-more"><a href="">Ghé shop<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6">
                <a href="#">
                    <div class="item-store">
                        <div class="image-store" style="background-image: url('https://www.vmcdn.ca/f/files/airdrietoday/ln-followtherainbow_web.jpg;w=960;h=640;bgcolor=000000');">
                            
                        </div>
                        <div class="info-store">
                            <div class="title-store">Tên gian hàng
                                <span class="category-store">(Rau củ)</span>
                            </div>
                            <p class="description-store">Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây</p>
                            <div class="time-active">
                                <strong style="color: #EA7F29;"><span class="active">active</span>&ensp;8h 20 - 19h 20</strong>
                                <span class="see-more"><a href="">Ghé shop<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6">
                <a href="#">
                    <div class="item-store">
                        <div class="image-store" style="background-image: url('https://www.vmcdn.ca/f/files/airdrietoday/ln-followtherainbow_web.jpg;w=960;h=640;bgcolor=000000');">
                            
                        </div>
                        <div class="info-store">
                            <div class="title-store">Tên gian hàng
                                <span class="category-store">(Rau củ)</span>
                            </div>
                            <p class="description-store">Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây</p>
                            <Slide />
     
      <div class="time-active">
                                <strong style="color: #EA7F29;"><span class="active">active</span>&ensp;8h 20 - 19h 20</strong>
                                <span class="see-more"><a href="">Ghé shop<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6">
                <a href="#">
                    <div class="item-store">
                        <div class="image-store" style="background-image: url('https://www.vmcdn.ca/f/files/airdrietoday/ln-followtherainbow_web.jpg;w=960;h=640;bgcolor=000000');">
                            
                        </div>
                        <div class="info-store">
                            <div class="title-store">Tên gian hàng
                                <span class="category-store">(Rau củ)</span>
                            </div>
                            <p class="description-store">Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây</p>
                            <div class="time-active">
                                <strong style="color: #EA7F29;"><span class="active">active</span>&ensp;8h 20 - 19h 20</strong>
                                <span class="see-more"><a href="">Ghé shop<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6">
                <a href="#">
                    <div class="item-store">
                        <div class="image-store" style="background-image: url('https://www.vmcdn.ca/f/files/airdrietoday/ln-followtherainbow_web.jpg;w=960;h=640;bgcolor=000000');">
                            
                        </div>
                        <div class="info-store">
                            <div class="title-store">Tên gian hàng
                                <span class="category-store">(Rau củ)</span>
                            </div>
                            <p class="description-store">Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây Mô tả bán những gì tại đây</p>
                            <div class="time-active">
                                <strong style="color: #EA7F29;"><span class="active">active</span>&ensp;8h 20 - 19h 20</strong>
                                <span class="see-more"><a href="">Ghé shop<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div style="text-align:center;margin-left:250px">
        <div class="mt-3">
      <b-pagination-nav pills size="lg" number-of-pages="10" base-url="#"></b-pagination-nav>
    </div>
    </div>
    <div class="line-green"></div>
</div>
</template>
<script>
export default { 
  data() {
    return {
      show: false,
      show1: false,
    };
  },
};
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
a{
    text-decoration: none;
    color: #000;
}
.list-item-store .row  a{
    text-decoration: none;
}
#list-store{
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}
.title{
    font-size: 20px;
    color: #157D3F;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5px;
}
.line-green{
    width: 400px;
    height: 3px;
    background-color: #157D3F;
    margin: auto;
}

.list-item-store{
    margin-top: 20px;
    padding: 0;
    /* display: flex;
    text-align:justify; */
}
.col-md-4{
    height: 350px;
    padding: 30px;
    
}
.item-store{
    background-color: #fff;
    box-shadow: 5px 5px 5px #bbb;
    height: 350px;
    border-radius: 5px;
    margin: 30px 20px;
}
.item-store:hover{
    box-shadow: 10px 10px 10px #aaa;
}
.image-store{
    width: 100%;
    height: 200px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.info-store{
    padding: 20px;
}
.title-store{
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.category-store{
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #EA7F29;
}
.description-store{
    padding-top: 10px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    height: 50px;
}
.time-active{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #000;
}
.time-active .active, .time-active .close{
    border: 1px solid #fff;
    padding: 5px 10px;
    height: 30px;
    width: 60px;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
.active{
    background-color: #157D3F;
}
.close{
    background-color: #cc0000;
}
.see-more a{
    font-size: 14px;
    text-decoration: none;
    color: #157D3F;
    padding: 5px 10px;
    border: 2px solid #157D3F;
    border-radius: 10px;
    box-sizing: border-box;
}
.see-more a:hover{
    background-color: #157D3F;
    color: #fff;
}

/* phân trang */
.paging{
    height: 40px;
    width: 280px;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
.paging .left button, .paging .right button{
    background-color: #f1f1f1;
    width: 50px;
    height: 40px;
}
.paging .left button svg, .paging .right button svg{
    color: #157D3F;
    border:0;
    font-size: 16px;
    text-align: center;
}
.paging .left button:hover, .paging .right button:hover{
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #157D3F;
}
.page-number{
    display: inline-flex;
    width: 150px;
    justify-content: space-between;
}
.page-number button{
    width: 40px ;
    height: 40px ;
    border: 2px solid #157D3F;
    border-radius: 50%;
    color: #157D3F;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    box-sizing: border-box;
}
.page-number button:hover{
    background-color: #157D3F;
    color: #fff;
}
/* edn phân trang */
</style>