<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  created() {
    this.checkUserState().then(() => {
      if (this.isLoggedIn) {
        this.me().then(() => {
          // console.log(this.$can("view-developer-dashboard"));
        });
      }
      // if (this.isLoggedIn) {
      //   this.infoShop().then(() => {
      //     // console.log(this.$can("view-developer-dashboard"));
      //   });
      // }
    });
  },

  methods: {
    ...mapActions({
       checkUserState: "user/setLoggedInState",
       me: "user/me",
      //  infoShop: "user/infoShop"
    }),
  },
  computed: {
    ...mapGetters({
      isLoggedIn: "user/loggedIn",
    }),
  },
};
</script>
<style>
#app {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
