<template>
  <div id="app">
    <OrderManagement />
    <router-view />
  </div>
</template>
<script>
import HeaderSale from "@/components/sale/HeaderSale.vue";
import OrderManagement from "../views/admin/OrderManagement.vue";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "about",
  components: {
    HeaderSale,
    OrderManagement,
  },
  
};
</script>
<style>
.headerSale {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
</style>
