<template>
    <div class="navbar-seller">
      <div class="menu-item1">
        <router-link class="linkNav" :to="{name:'Nguoiban', params:{id:userDetails.id}}">
          <span><img src="@/assets/quanlydonhang.png" alt="icon"/></span>
          <span class="title-item">Quản lý đơn hàng</span>
        </router-link>
      </div>
      <div class="menu-item1">
        <router-link class="linkNav" :to="{name:'ManagerShop', params:{id:userDetails.id}}">
          <span><img src="@/assets/quanlyshop.png" alt="icon"/></span>
          <span class="title-item">Quản lý gian hàng</span>
        </router-link>
      </div>
      <div class="menu-item1">
        <router-link class="linkNav" :to="{name:'ProductManager', params:{id:userDetails.id}}" >
          <span><img src="@/assets/quanlysanpham.png" alt="icon"/></span>
          <span class="title-item">Quản lý sản phẩm</span>
      </router-link>
      </div>
      <div class="menu-item1">
       <router-link class="linkNav" :to="{name:'RevenueManager', params:{id:userDetails.id}}">
          <span><img src="@/assets/doanhthu.png" alt="icon"/></span>
          <span class="title-item">Thống kê doanh thu</span>
      </router-link>
      </div>
    </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
     computed: {
    ...mapGetters({
      userDetails: "user/userDetails",
    }),
  },
}
</script>
<style>
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.navbar-seller {
  position: fixed;
  left: 0;
  top: 90px;
  width: 15%;
  height: 100%;
  bottom: 0;
  background-color: #fff;
  padding-top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  float: left;
}
.menu-item1 {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
}
.menu-item1 .linkNav {
  text-decoration: none;
  color: rgb(46, 9, 9);
}
.menu-item1:first-child {
  border-top: 1px solid #ddd;
}
.menu-item1:hover {
  background-color: #157d3f;
}
.menu-item1 a:focus {
  background-color: #157d3f;
  color: #fff;
  text-decoration: none;
}
.menu-item1 .linkNav img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}
.title-item {
  color: rgb(0, 0, 0);
}

</style>